@font-face{font-family:'Space Mono';font-weight:400;font-display:swap;src:url(spacemono-400.woff2) format('woff2')}
@font-face{font-family:'Space Mono';font-weight:700;font-display:swap;src:url(spacemono-700.woff2) format('woff2')}
